@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-in {
  animation: fadeIn 0.28s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
